@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.green:active {
  background: #52f639;
  color: #000;
}
.red:active {
  background: #ff3333;
  color: #000;
}

@media (max-width:600px){
  header div.center {
    display: none;
  }
  header div.right {
    display: none;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .left {
    text-align: center;
    width: 100%;
  }
  section div.center {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  section div.center h3{
    margin-right: 10px;
    margin-left: 10px;
  }
  section div.bottom ul {
    width: 80%;
    margin:0 auto;
  }
  section div.bottom ul li {
    width: 20%;
  }
}